<% provide(:title, "BarCVVR Edition de la Boisson "+params[:id]) %>

<h3>Modification du breuvage</h3>

<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :name, class: 'mdl-textfield__label', value: 'Nom' %>
    <%= f.text_field :name, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
    <input class="mdl-textfield__input" id="post_drink_type" name="post[drink_type]" value="<%= @drink.drink_type %>" type="text" readonly tabIndex="-1" data-val=""/>
      <label class="mdl-textfield__label" for="post_drink_type">Type de Boisson</label>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="post_drink_type">        
          <li class="mdl-menu__item" data-val ="1">Soft</li>
          <li class="mdl-menu__item" data-val ="2">Bière Cidre</li>
          <li class="mdl-menu__item" data-val ="3">Vin</li>
          <li class="mdl-menu__item" data-val ="4">Whisky Pastis Ricard Rhum</li>
      </ul>
  </div>
  
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :price, class: 'mdl-textfield__label', value: 'Prix'  %>
    <%= f.number_field :price, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?', step: '0.01' %>
    <span class="mdl-textfield__error">Ce n'est pas un nombre valide</span>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :password, class: 'mdl-textfield__label', value: 'Mot de passe Administrateur' %>
    <%= password_field_tag :admin_password, nil, class: 'mdl-textfield__input' %>
  </div>

  <br/>
  
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="drk_delete">
    <%= check_box("drk", "delete", { class: "mdl-checkbox__input" }, "yes", "no") %>
    <span class="mdl-checkbox__label">Supprimer la boisson</span>
  </label>

  <br/>
  <br/>  
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= button_tag 'Valider', class: 'mdl-button mdl-js-button mdl-button--raised' %>
  </div>
<% end %>
