<h3>Modification du breuvage</h3>

<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this drink from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :name, class: 'mdl-textfield__label', value: 'Nom' %>
    <%= f.text_field :name, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :drink_type, class: 'mdl-textfield__label', value: 'Type de bière' %>
    <%= f.text_field :drink_type, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :price, class: 'mdl-textfield__label', value: 'Prix'  %>
    <%= f.number_field :price, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?', step: '0.01' %>
    <span class="mdl-textfield__error">Ce n'est pas un nombre valide</span>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :password, class: 'mdl-textfield__label', value: 'Mot de passe Administrateur' %>
    <%= password_field_tag :admin_password, nil, class: 'mdl-textfield__input' %>
  </div>

  <br/>
  
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="drk_delete">
    <%= check_box("drk", "delete", { class: "mdl-checkbox__input" }, "yes", "no") %>
    <span class="mdl-checkbox__label">Supprimer la boisson</span>
  </label>

  <br/>
  <br/>  
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= button_tag 'Valider', class: 'mdl-button mdl-js-button mdl-button--raised' %>
  </div>
<% end %>
