<% provide(:title, "BarCVVR Edition de la Boisson "+params[:id]) %>

<h3>Modification du breuvage</h3>

<br>
<br>

<div class="row">

<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
  <div class="row">
    <div class="col s12 l7">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= pluralize(@drink.errors.count, "error") %> prohibited this user from being saved:</span>
          <ul>
          <% @drink.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="input-field col s12 l7">
    <%= f.label :name, value: 'Nom' %>
    <%= f.text_field :name %>
  </div>


  <div class="input-field col s12 l7">
    <select id="post_drink_type" name="post[drink_type]" value="<%= @drink.drink_type %>">
      <% option_soft = '<option value="1">Soft</option>'
      option_beer = '<option value="2">Bière Cidre</option>'
      option_wine = '<option value="3">Vin</option>'
      option_whisky = '<option value="4">Whisky Pastis Ricard Rhum</option>'
      case @drink.drink_type
      when 'Soft'
        option_soft = '<option value="1" selected >Soft</option>'
      when 'Bière Cidre'
        option_beer = '<option value="2" selected >Bière Cidre</option>'
      when 'Vin'
        option_wine = '<option value="3" selected >Vin</option>'
      when 'Whisky Pastis Ricard Rhum'
        option_whisky = '<option value="4" selected >Whisky Pastis Ricard Rhum</option>'
      end
    %>
      <%= option_soft.html_safe %>
      <%= option_beer.html_safe %>
      <%= option_wine.html_safe %>
      <%= option_whisky.html_safe %>
    </select>
    <label>Type de Boisson</label>
  </div>

  
  <div class="input-field col s12 l7">
    <%= f.label :price, value: 'Prix', 'data-error': 'Ce n\'est pas un nombre valide' %>
    <%= f.text_field :price, pattern: '-?[0-9]*(\.[0-9]+)?', step: '0.01' %>
  </div>

  <div class="input-field col s12 l7">
    <%= f.label :admin_password, value: 'Mot de passe Administrateur' %>
    <%= password_field_tag :admin_password, nil %>
  </div>
  
  <div class="col s12">
    <br>
      <%= check_box("drk", "delete", { class: "" }, "yes", "no") %>
      <label for="drk_delete">Supprimer la boisson</label>
  </div>

  <div class="col s12 l7">
    <br/>
    <br/>  
    <br/>
    <button class="btn waves-effect waves-light" type="submit" name="action">Valider
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>

</div>

<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
