<% provide(:title, "BarCVVR Boissons") %>

<% if notice %>
<div id="toast" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active" data-upgraded=",MaterialSnackbar" aria-hidden="false">
  <div class="mdl-snackbar__text">
    <%= notice %>
  </div>
  <button class="mdl-snackbar__action" type="button" aria-hidden="true"></button>
</div>
<% end %>

<h3>Breuvages</h3>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="window.scrollTo(0,document.body.scrollHeight);">
  <i class="material-icons">arrow_downward</i>
</button>

<br/>
<br/>

<table class="mdl-data-table mdl-js-data-table" id="Table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.drink_type %></td>
        <td><%= drink.price %></td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" onclick="window.location.href='/drinks/<%=drink.id%>/edit'">
            <i class="large material-icons">edit</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="window.location.href='/drinks/new'">
  <i class="material-icons">add</i>
</button>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="window.location.href='/'">
  <i class="material-icons">home</i>
</button>

<script>
var hide5000;
hide5000 = setTimeout(hide, 5000 );

function hide () {
  document.getElementById("toast").setAttribute("hidden", true);
}
</script>
