<% provide(:title, "BarCVVR Boissons") %>

<h3>Breuvages</h3>

<br/>
<br/>

<div class="row">
<table class="col s12 l7 centered highlight striped" id="Table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinks.each do |drink| %>
      <tr>
        <td><%= drink.name %></td>
        <td><%= drink.drink_type %></td>
        <td><%= drink.price %></td>
        <td>
          <button class="btn-floating btn-larg blue tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Edition de la Boisson" onclick="window.location.href='/drinks/<%=drink.id%>/edit'">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>

<br>

<button class="btn-floating btn-large waves-effect waves-light light-green tooltipped" data-position="top" data-delay="1000" data-tooltip="Ajout d'une Boisson" onclick="window.location.href='/drinks/new'">
  <i class="material-icons">add</i>
</button>

<button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="right" data-delay="1000" data-tooltip="Liste des Vélivoles" onclick="window.location.href='/'">
  <i class="material-icons">home</i>
</button>

<script>
  <% if notice %>
  Materialize.toast('<%= notice %>', 4000) // 4000 is the duration of the toast
  <% end %>
</script>
