<% provide(:title, "BarCVVR Edition de "+@user.firstName) %>

<h3>Edition de <%=@user.firstName%> <%=@user.lastName%></h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :firstName, class: 'mdl-textfield__label', value: 'Prénom'%>
    <%= f.text_field :firstName, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :lastName, class: 'mdl-textfield__label', value: 'Nom' %>
    <%= f.text_field :lastName, class: 'mdl-textfield__input' %>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :alias,  class: 'mdl-textfield__label', value: 'Surnom' %>
    <%= f.text_field :alias, class: 'mdl-textfield__input' %>
  </div>

  <br/>
    
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :email, class: 'mdl-textfield__label', value: 'email' %>
    <%= f.email_field :email, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :password, class: 'mdl-textfield__label', value: 'Mot de passe Admin' %>
    <%= password_field_tag :admin_password, nil, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>
  
  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="usr_delete">
    <%= check_box("usr", "delete", { class: "mdl-checkbox__input" }, "yes", "no") %>
    <span class="mdl-checkbox__label">Supprimer <%=@user.firstName%> <%=@user.lastName%></span>
  </label>
  
  <br/>
  <br/>
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= button_tag 'Valider', class: 'mdl-button mdl-js-button mdl-button--raised' %>
  </div>
<% end %>


<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" onclick="window.location.href='/users/<%=@user.id%>'">
Voir
</button>

<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" onclick="window.location.href='/users/<%=@user.id%>/lost'">
Mot de passe perdu
</button>
