<% provide(:title, "BarCVVR Edition de "+@user.firstName) %>

<h3>Edition de <%=@user.firstName%> <%=@user.lastName%></h3>

<br>
<br>

<div class="row">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div class="row">
    <div class="col s12">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</span>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="input-field col s12">
    <%= f.label :firstName, 'Prénom' %>
    <%= f.text_field :firstName %>
  </div>
  
  <div class="input-field col s12">
    <%= f.label :lastName, 'Nom' %>
    <%= f.text_field :lastName %>
  </div>

  <div class="input-field col s12">
    <%= f.label :alias, 'Surnom' %>
    <%= f.text_field :alias %>
  </div>
  
  <div class="input-field col s12" hidden>
    <%= f.label :password_digest, 'Mot de passe' %>
    <%= f.password_field :password_digest, value: 'test' %>
  </div>
    
  <div class="input-field col s12">
    <%= f.label :email, 'Email', 'data-error': 'Ce n\'est pas une adresse email' %>
    <%= f.email_field :email %>
  </div>
  
  <div class="input-field col s12">
    <%= f.label :admin_password, 'Mot de passe Administrateur' %>
    <%= password_field_tag :admin_password, nil %>
  </div>

  <div class="col s12" hidden>
    <br>
      <%= check_box("usr", "delete", { class: "" }, "yes", "no") %>
      <label for="usr_delete">Supprimer l'utilisateur</label>
  </div>
  
  <div class="col s12">
    <br/>
    <br/>  
    <br/>
    <button class="btn waves-effect waves-light" type="submit" name="action">Valider
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
</div>

<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" onclick="window.location.href='/users/<%=@user.id%>/lost'" hidden>
Mot de passe perdu
</button>

<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
