<% provide(:title, "BarCVVR") %>

<div class="row">
    <div class="col s12 m10 l7">
    <%= image_tag "Header.svg" %>
    </div>
  </div>

<div class="row">
  <div class="input-field col s6">
    <input placeholder="Chercher ..." type="text" onkeyup="Search()" id="Search">
  </div>
  <div class="input-field col s6">
    <button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="right" data-delay="50" data-tooltip="Descendre" onclick="window.scrollTo(0,document.body.scrollHeight);">
      <i class="material-icons">arrow_downward</i>
    </button>
  </div>
</div>

<table class="col s12 centered highlight striped tablesorter" id="Table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Surnom</th>
      <th>Compte</th>
      <th colspan="3"> Total : <%= @totalAmount %> </th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @operationLastMouth.each do |key, value| %>
      <tr>
        <td><%= i %></td>
        <td><%= @users.find(key).lastName %></td>
        <td><%= @users.find(key).firstName %></td>
        <td><%= @users.find(key).alias %></td>
        <%
        warning=""
        case @operationTotal[key] 
        when -50..-40
          td_class="orange-text text-darken-4"
        when -40..-30
          td_class="orange-text text-darken-3"
        when -30..-20
          td_class="orange-text text-darken-2"
        when -20..-10
          td_class="orange-text text-darken-1"
        when -10..0
          td_class="orange-text"
        else
          if @operationTotal[key] <= -50
            td_class="red-text"
            warning='<a class="btn btn-floating pulse red"><i class="material-icons">warning</i></a>'
          elsif @operationTotal[key] >= 50
            td_class="green-text"
          end
        end
        %>
        <td class="<%= td_class %>"><%= @operationTotal[key] %>  <%= warning.html_safe %></td>
        <td>
          <button class="btn-floating waves-effect green tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Infos de <%= @users.find(key).firstName %>" onclick="window.location.href='/users/<%=@users.find(key).id%>'">
            <i class="material-icons">zoom_in</i>
          </button>
        </td>
        <td>
          <button class="btn-floating waves-effect amber tooltipped" data-position="bottom" data-delay="1000" data-tooltip="<%= @users.find(key).firstName %> Paye sa bière" onclick="window.location.href='/operations/new?userid=<%=@users.find(key).id%>'">
            <%= image_tag "beer_glass.svg", height: "30", width: "30", style: 'margin-top: 5px' %>
          </button>
        </td>
        <td>
          <button class="btn-floating waves-effect light-blue tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Renflouer <%= @users.find(key).firstName %>" onclick="window.location.href='/operations/add?userid=<%=@users.find(key).id%>'">
            <i class="material-icons">euro_symbol</i>
          </button>
        </td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn-floating btn-large waves-effect waves-light green tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Ajouter un Vélivole" onclick="window.location.href='/users/new'">
  <i class="material-icons">add</i>
</button>

<button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Transactions" onclick="window.location.href='/operations'">
  <i class="material-icons">cached</i>
</button>

<button class="btn-floating btn-large waves-effect waves-light amber tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Boissons" onclick="window.location.href='/drinks'">
  <%= image_tag "beer_glass.svg", height: "30", width: "30", style: 'margin-top: 12px' %>
  <i class="material-icons"     style="margin-left:10px; margin-top:10px;">add</i>
</button>

<button class="btn-floating btn-large waves-effect waves-light grey tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Fûts" onclick="window.location.href='/kegs'">
  <%= image_tag "beer_keg.svg", height: "30", width: "30", style: 'margin-top: 12px' %>
  <i class="material-icons" style="margin-left:10px; margin-top:10px;">add</i>
</button>

<br/>
<br/>
<br/>

<% @kegs.each do |keg| 
  opNum = 0
  operations = Operation.where("drink_id = ?", keg.drink_id).where("date > ?", keg.startDate)
  operations.each do |op|
    if op.numberDrink.to_s != ""
      opNum = opNum + op.numberDrink.to_s.to_d
    end
  end
  drink = Drink.find(keg.drink_id)
  if drink.drink_type == "Bière Cidre"
    volGlass = 0.3
  elsif drink.drink_type == "Vin"
    volGlass = 0.15
  elsif drink.drink_type == "Whisky Pastis Ricard Rhum"
    volGlass = 0.04
  else
    volGlass = 0
  end
  percent = 100-(100/(keg.capacity/volGlass)*opNum)
%>


<div class="chip">
   <%= image_tag "beer_keg.svg", style: "height: 25px !important; width: 25px !important; margin-top: 2px"%>
   <span style='position: relative; bottom: 3px'> <%= keg.name %> <%= Drink.find(keg.drink_id).name %> : <%= opNum.to_i %></span>
   <a href="#modal_<%= keg.id %>"><i class="material-icons tooltipped" data-position="top" data-delay="1000" data-tooltip="Renouveler" style='position: relative; top: 3px'>cached</i></a>
   <div id="p1" style="width: 100%" class="progress" value="<%= opNum %>">
     <div class="determinate" style="width: <%= percent %>%;"></div>
   </div>
</div>

<!-- Modal Structure -->
<div id="modal_<%= keg.id %>" class="modal">
  <div class="modal-content">
    <h5>Vous avez tout bu !<br>
    Le renouvellement du fût est donc indispenssable !</h5>
    <p>La nouvelle recharge est bien celle ci :<br>
      <%= Drink.find(keg.drink_id).name %> de <%= keg.capacity %> au prix de <%= keg.price %>€ ?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Abandonner</a>
    <a href="/kegs/<%= keg.id %>/renew/" class="modal-action modal-close waves-effect waves-green btn-flat">Valider</a>
  </div>
</div>

<% end %>

<script>
<% if notice %>
Materialize.toast('<%= notice %>', 4000) // 4000 is the duration of the toast
<% end %>
$(document).ready(function(){
   // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
   $('.modal').modal();
   $("#Table").tablesorter();
});

if (document.getElementById("Search").value.toUpperCase() != "") {
  Search();
}

function Search() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("Search");
  filter = input.value.toUpperCase();
  table = document.getElementById("Table");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td0 = tr[i].getElementsByTagName("td")[0];
    if (td0) {
      if (td0.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
        td1 = tr[i].getElementsByTagName("td")[1];
        if (td1) {
          if (td1.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
            td2 = tr[i].getElementsByTagName("td")[2];
            if (td2) {
              if (td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
                td3 = tr[i].getElementsByTagName("td")[3];
                if (td3) {
                  if (td3.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</script>
