<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastName %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @user.alias %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @user.amount %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Somme</th>
    </tr>
  </thead>

  <tbody>
    <% @operations.find_each do |operation| %>
      <tr>
        <td><%= operation.date %></td>
        <td><%= operation.sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Renflouer', { :controller => "operations", :action => "add", :userid => @user.id } %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
