<% if notice %>
<div id="toast" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active" data-upgraded=",MaterialSnackbar" aria-hidden="false">
  <div class="mdl-snackbar__text">
    <%= notice %>
  </div>
  <button class="mdl-snackbar__action" type="button" aria-hidden="true"></button>
</div>
<% end %>

<h3>Fût</h3>

<table class="mdl-data-table mdl-js-data-table" id="Table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Capacité</th>
      <th>Prix</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kegs.each do |keg| %>
      <tr>
        <td><%= Drink.find(keg.drink_id).name %> </td>
        <td><%= keg.startDate %></td>
        <td><%= keg.endDate %></td>
        <td><%= keg.capacity %> l</td>
        <td><%= keg.price %> €</td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" onclick="window.location.href='/kegs/<%=keg.id%>'">
            <i class="large material-icons">zoom_in</i>
          </button>
        </td>
        <td>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect" onclick="window.location.href='/kegs/<%=keg.id%>/edit'">
            <i class="large material-icons">edit</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="window.location.href='/kegs/new'">
  <i class="material-icons">add</i>
</button>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" onclick="window.location.href='/'">
  <i class="material-icons">home</i>
</button>

<script>
var hide5000;
hide5000 = setTimeout(hide, 5000 );

function hide () {
  document.getElementById("toast").setAttribute("hidden", true);
}
</script>
