<% provide(:title, "BarCVVR Fûts") %>

<h3>Fût</h3>

<br/>
<br/>

<table class="col s12 l7 centered highlight striped" id="Table">
  <thead>
    <tr>
      <th>Boisson</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Capacité</th>
      <th>Prix</th>
      <th>Rentabilité</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kegs.each do |keg| %>
      <tr>
        <td><%= Drink.find(keg.drink_id).name %> </td>
        <td><%= keg.startDate %></td>
        <td><%= keg.endDate %></td>
        <td><%= number_with_precision(keg.capacity, precision: 2).sub(/\.00$/,'') %>l</td>
        <td><%= number_with_precision(keg.price, precision: 2).sub(/\.00$/,'') %>€</td>
        <td><%= number_with_precision(@profit[keg.id], precision: 2).sub(/\.00$/,'') %>€</td>
        <td>
          <button class="btn-floating btn-larg green tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Infos" onclick="window.location.href='/kegs/<%=keg.id%>'">
            <i class="material-icons">zoom_in</i>
          </button>
        </td>
        <td>
          <button class="btn-floating btn-larg blue tooltipped" data-position="bottom" data-delay="1000" data-tooltip="Edition" onclick="window.location.href='/kegs/<%=keg.id%>/edit'">
            <i class="material-icons">edit</i>
          </button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
<%= will_paginate @kegs, :previous_label => '<i class="material-icons">chevron_left</i>', :next_label => '<i class="material-icons">chevron_right</i>' %>
</div>

<br/>

<button class="btn-floating btn-large waves-effect waves-light light-green tooltipped" data-position="top" data-delay="1000" data-tooltip="Ajout d'un fût" onclick="window.location.href='/kegs/new'">
  <i class="material-icons">add</i>
</button>

<button class="btn-floating btn-large waves-effect waves-light tooltipped" data-position="right" data-delay="1000" data-tooltip="Liste des Vélivoles" onclick="window.location.href='/'">
  <i class="material-icons">home</i>
</button>
  
<script>
<% if notice %>
Materialize.toast('<%= notice %>', 4000) // 4000 is the duration of the toast
<% end %>

table = document.getElementById("Table");
tr = table.getElementsByTagName("tr");
for (i = tr.length -1; tr[i]; i--) {
  td = tr[i].getElementsByTagName("td")[1];
  date = new Date(/^([0-9\-\s\:]+UTC)/.exec(td.innerHTML)[0]);
  td.innerHTML = date.toLocaleString();
  td = tr[i].getElementsByTagName("td")[2];
  date = new Date(/^([0-9\-\s\:]+UTC)/.exec(td.innerHTML)[0]);
  td.innerHTML = date.toLocaleString();
}
</script>
