<% provide(:title, "BarCVVR Fût "+params[:id]) %>

<p id="notice"><%= notice %></p>

<table class="mdl-data-table mdl-js-data-table" id="Table">
  <thead>
    <tr>
      <th>Boisson</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Capacité</th>
      <th>Prix</th>
      <th>Nombre de boisson payées</th>
      <th>Rentabilité</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= Drink.find(@keg.drink_id).name %></td>
        <td><%= @keg.startDate %></td>
        <td><%= @keg.endDate %></td>
        <td><%= @keg.capacity %> l</td>
        <td><%= @keg.price %> €</td>
        <td><%= @opNum %></td>
        <td><%= @profit %></td>
      </tr>
  </tbody>
</table>
