<%= form_for(operation) do |f| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label "Type de Bières" %>
    <%= options_from_collection_for_select(Drink.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label "Nombre de Bières" %>
    <%= f.number_field :sum %>
  </div>

  <div class="field" hidden>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
