<% provide(:title, "BarCVVR Renflouage de "+User.find(@operation.user_id).firstName) %>

<h3>Renflouage de <%= User.find(@operation.user_id).firstName %> <%= User.find(@operation.user_id).lastName %></h3>

<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :date %>
    <%= f.datetime_select :date, :include_seconds => true %>
  </div>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :sum, class: 'mdl-textfield__label', value: 'Total' %>
    <%= f.number_field :sum, class: 'mdl-textfield__input', pattern: '-?[0-9]*(\.[0-9]+)?', step: '0.1' %>
    <span class="mdl-textfield__error">Ce n'est pas un nombre valide</span>
  </div>
  
  <br/>
  
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :comment, class: 'mdl-textfield__label', value: 'Commentaire'%>
    <%= f.text_field :comment, class: 'mdl-textfield__input' %>
  </div>
  
  <br/>

  <div class="field" hidden>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  
  <br/>
  <br/>  
  <br/>

  <div class="mdl-textfield mdl-js-textfield">
    <%= button_tag 'Valider', class: 'mdl-button mdl-js-button mdl-button--raised', onClick: "this.form.submit(); this.disabled=true; this.innerHTML='Envoie…';" %>
  </div>
<% end %>
