
<% provide(:title, "BarCVVR Tournée de "+User.find(@operation.user_id).firstName) %>

<h3>Nouvelle tournée de <%= User.find(@operation.user_id).firstName %> <%= User.find(@operation.user_id).lastName %></h3>

<br>
<br>

<div class="container">
<div id= "contener" class="row">
<%= form_for(@operation, html: {id: "new_operation"}) do |f| %>
  <% if @operation.errors.any? %>
  <div class="row">
    <div class="col s12 l7">
      <div class="card red darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%= pluralize(@operation.errors.count, "error") %> prohibited this user from being saved:</span>
          <ul>
          <% @operation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <div class="field" hidden>
    <%= f.label :date %>
    <%= f.datetime_select :date, :include_seconds => true%>
  </div>
  
  <div class="field" hidden>
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>
  
  <div class="row">
    <div class="input-field col s12 l6">
      <select id="post_drink" name="post[drink]">
        <% Keg.where('endDate' => nil).collect.each do |keg| %>
          <option value="<%= keg.drink_id.to_i %>"><%= Drink.find(keg.drink_id).name %></option>
        <% end %>
      </select>
      <label>Boisson</label>
    </div>
    
    <div class="input-field col s12 l6">
      <%= f.number_field :numberDrink, pattern: '^[0-9]*(\.[0-9]+)?', step: '0.01' %>
      <%= f.label :numberDrink, 'Nombre de verres', 'data-error': 'Ce n\'est pas un nombre valide' %>
    </div>
    
    <div class="input-field col s12 l6">
      <select id="post_food" name="post[food]">
        <% Food.all.each do |food| %>
          <option value="<%= food.id %>"><%= food.name %></option>
        <% end %>
      </select>
      <label>Nourriture</label>
    </div>
    
    <div class="input-field col s12 l6">
      <%= f.number_field :numberFood, pattern: '^[0-9]*(\.[0-9]+)?', step: '0.01' %>
      <%= f.label :numberFood, 'Nombre de plat', 'data-error': 'Ce n\'est pas un nombre valide' %>
    </div>
  </div>
  
  <div class="col s12 l7">
    <br/>
    <br/>  
    <a class="btn-floating btn-large waves-effect waves-light green" onclick="addForm()"><i class="material-icons">add</i></a>
    <br/>
    <br/>
    <button class="btn waves-effect waves-light" onclick="this.disabled=true;validForms();" type="submit" name="action">Valider
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>

</div>
</div>

<script>
var div, form
$(document).ready(function() {
  div = document.getElementById("contener");
  form = div.lastElementChild;
  form2 = form.cloneNode(true);
  Materialize.updateTextFields();
  $('select').material_select();
});
  
function addForm() {
  newForm = form2.cloneNode(true);
  numForm = parseInt(document.getElementsByClassName("new_operation").length) + 1;
  newFormID = div.lastElementChild.id;
  newForm.id = div.firstElementChild.id+numForm;
  lastDivChild = document.getElementById("contener").lastElementChild;
  lastDivChild.removeChild(lastDivChild.lastElementChild);
  document.getElementById("contener").lastElementChild.lastElementChild.style.marginBottom = "30px";
  newForm.childNodes[9].firstElementChild.id=newForm.childNodes[9].firstElementChild.id+numForm;
  newForm.childNodes[9].lastElementChild.setAttribute('for', newForm.childNodes[9].firstElementChild.id);
  div.appendChild(newForm);
  Materialize.updateTextFields();
  $('select').material_select();
}

function validForms() {
  event.preventDefault();
  forms = document.getElementsByClassName("new_operation");
  for(var i=0; i<forms.length; i++) {
    $.ajax({
      type: 'POST',
      url: "/operations",
      data: decodeURI($("#"+forms[i].id).serialize()),
    });
  }
};
</script>
